@import "reset.css";
@import "bootstrap-grid.css";

@font-face {
  font-family: 'Open Sans';
  src:  url("../fonts/open-sans-400.woff2") format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans';
  src:  url("../fonts/open-sans-700.woff2") format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Fontello';
  src:  url("../fonts/fontello.woff") format('woff');
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}

.hidden {
  display: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f4f4f4;
  color: #000;

  .header {
    background-color: #ffffff;
    padding: 15px;

    &-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo-wrapper {

        .logo {
          display: block;
          width: 100px;
          border-radius: 15px;
          transition: all .2s linear;

          &:hover {
            box-shadow: 0 0 10px #aaaaaa;
          }
        }
      }

      .auth-menu {

        ul {
          display: flex;

          a {
            font-weight: 700;
            text-decoration: none;
            color: #747474;
            transition: color .2s linear;

            &:hover {
              color: #222222;
            }
          }
        }

        &-item {
          margin: 0 10px;
          padding: 5px;

          &.active {
            color: #222222;
          }
        }
      }
    }

  }

  .main-content {
    margin-top: 50px;
    padding-bottom: 46px;

    .fixed-section {
      position: fixed;
      width: 255px;
      top: 15px;
    }

    .user-info {
      font-size: 18px;
      font-weight: 700;
      background-color: #fff;
      margin-bottom: 25px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #3db7c6;
    }

    .nav-menu {
      background-color: #fff;
      border: 1px solid #3db7c6;

      &-item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        color: #747474;
        font-weight: 400;
        border: 1px solid transparent;
        transition: all .2s linear;
        cursor: pointer;
        border-bottom: 1px solid rgba(61, 183, 198, 0.23);
        &:last-child {
          border-bottom: 0;
        }

        &:hover {
          border-color: #aaaaaa;
          font-size: 18px;
          box-shadow: inset 0 0 3px #5e6480;
        }

        &.active {
          color: #222222;
          font-size: 18px;
          font-weight: 700;
          background-color: #3db7c629;

          &:hover {
            border-color: transparent;
            box-shadow: none;
          }
        }
      }
    }

    .errors-block {
      background-color: #fff;
      border: 1px solid rgba(255, 0, 0, 0.20);
      text-align: center;
      margin-top: 25px;
      padding: 10px;
      color: red;
    }

    .post {
      background-color: #fff;
      margin-bottom: 25px;

      &-title {
        font-size: 23px;
        font-weight: 700;
        padding: 20px 0;
        text-align: center;
      }

      &-description {
        padding: 0 30px;
      }

      &-info {
        padding: 30px 40px 20px;
        font-family: cursive;
        font-size: 14px;
        color: #aaaaaa;
        display: flex;
        justify-content: space-between;
      }
    }

    .form {
      background-color: #fff;
      padding: 25px 25px 15px;
      font-weight: 700;
      color: #747474;
      border-radius: 5px;

      h2 {
        text-align: center;
        font-size: 23px;
        font-weight: 700;
        margin-bottom: 50px;
        color: #222222;
      }

      .group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 35px 0;

        label {
          font-size: 15px;
        }

        input:not([type="submit"]) {
          width: 60%;
          border: none;
          border-bottom: 1px solid #cacaca;
          margin-right: 30px;
          font-size: 18px;
          outline: none;
        }

        input[type="submit"] {
          font-size: 18px;
          font-weight: 700;
          display: inline-block;
          margin: 30px auto 0;
          color: #ffffff;
          background-color: rgba(61, 183, 198, 0.7);
          outline: none;
          border: 1px solid transparent;
          border-radius: 4px;
          padding: 10px 25px;
          transition: all .2s linear;
          
          &:hover {
            background-color: #3db7c6;
            border-color: #dddddd;
          }

          &:active {
            color: #222222;
          }
        }

        &.errors {
          margin: 10px 0;

          small {
            width: 100%;
            text-align: center;
            color: red;
            line-height: 1.4;

            &.success {
              color: green;
            }
          }
        }
      }
    }

    .user {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      background-color: #fff;
      margin-bottom: 15px;
      border-bottom: 1px solid rgba(61, 183, 198, 0.23);

      .follow {
        font-family: 'Fontello';
        color: #3db7c6;

        &:hover {
          animation: heartbeat 1s cubic-bezier(0.1,0.25,0.1,1) 0s infinite ;
        }

        .icon-heart-empty {
          cursor: pointer;

          &:before {
            content: '\e800';
          }
        }
        .icon-heart{
          cursor: pointer;
          &:before { content: '\e801'; }
        }
      }
    }

    .search-bar {
      background-color: #fff;
      text-align: center;
      padding: 20px 0;
      border: 1px solid #3db7c6;

      input {
        display: block;
        margin: 20px auto;
        width: 70%;
        padding: 5px 10px;
        font-size: 1rem;
        line-height: 1.2;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: background-color .1s linear;

        &[type="submit"] {
          width: 50%;
          margin-bottom: 0;

          &:hover {
            color: #222222;
            background-color: #daf3f6;
          }
          &:active {
            background-color: #3db7c6;
          }
        }
      }
    }

    .new-post {
      label {
        display: block;
        font-weight: 700;
      }

      textarea,
      input {
        display: block;
        width: 100%;
        margin: 10px 0;
        padding: 5px 10px;
        font-size: 1rem;
        line-height: 1.2;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: background-color .1s linear;
      }

      input[type="submit"] {
        width: 25%;
        margin-top: 35px;
        &:hover {
          color: #222222;
          background-color: #daf3f6;
        }
        &:active {
          background-color: #3db7c6;
        }
      }
    }
  }

  .footer {
    background-color: #ffffff;
    padding: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
}

@keyframes heartbeat {
  0%  {
    transform: scale(1);
  }

  100% {
    transform: scale(1.5);
  }
}