<html>

<head>
  <title>Express</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

<header class="header">
  <div class="container">
    <div class="header-inner">
      <div class="logo-wrapper">
        <a href="/">
          <img class="logo" src="images/logo-blog.png" alt="logo">
        </a>
      </div>
      <nav class="auth-menu">
        <ul>
          <a href="/sign-up">
            <li class="auth-menu-item">Registration</li>
          </a>
          <a href="/sign-in">
            <li class="auth-menu-item">Login</li>
          </a>
          <a href="/sign-in" class="hidden">
            <li class="auth-menu-item">Logout</li>
          </a>
        </ul>
      </nav>
    </div>
  </div>
</header>

<main class="main-content">
  <div class="container">

    <div class="row">

      <div class="col-md-3">
        MENU
      </div>


    </div>

  </div>
</main>

<footer>

</footer>
</body>

</html>
